{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 mt-5">
        <div class="col animate__animated animate__fadeIn">
            <div class="grow card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="noselect pt-3 mt-5 mb-4 display-5 lh-1 fw-bold text-center">Parse Text Reports</h2>
                    <ul class="noselect d-flex list-unstyled mt-5">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#calendar3"></use>
                            </svg>
                            <small>v0.01</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col animate__animated animate__fadeIn">
            <div class="grow card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="noselect pt-3 mt-5 mb-4 display-5 lh-1 fw-bold text-center">View Data Sheets</h2>
                    <ul class="noselect d-flex list-unstyled mt-5">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#calendar3"></use>
                            </svg>
                            <small>v0.01</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col animate__animated animate__fadeIn">
            <div class="grow card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="noselect pt-3 mt-5 mb-4 display-5 lh-1 fw-bold text-center">Visualize Data with Charts
                    </h2>
                    <ul class="noselect d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#calendar3"></use>
                            </svg>
                            <small>v0.03</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 mt-3">
        <div class="col animate__animated animate__fadeIn">
            <div class="grow card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="noselect pt-3 mt-5 mb-4 display-5 lh-1 fw-bold text-center">Change Settings</h2>
                    <ul class="noselect d-flex list-unstyled mt-5">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#calendar3"></use>
                            </svg>
                            <small>v0.01</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col animate__animated animate__fadeIn">
            <div class="grow card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="noselect pt-3 mt-5 mb-4 display-5 lh-1 fw-bold text-center">Feature Coming Soon</h2>
                    <ul class="noselect hidden d-flex list-unstyled mt-5">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em">
                                <use xlink:href="#calendar3"></use>
                            </svg>
                            <small>v0.01</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}