{% extends "base.html" %}

{% block title %}Parser{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <!-- Inputs -->
        <div class="col-6">
            <div class="card test">
                <!-- Tabs -->
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Single Report</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Multiple Reports</a>
                        </li>
                    </ul>
                </div>
                <!-- Content 1 -->
                <div class="card-body">
                    <h5 class="card-title text-center">Single Report Parser</h5>

                    <!-- File Inputs -->
                    <div class="mb-3 mt-2">
                        <label for="formFile" class="form-label">Daily File Input</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="formFile" class="form-label">All File Input</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="formFile" class="form-label">Outfile Name</label>
                        <input class="form-control" type="text" id="formFile">
                    </div>
                    
                    <!-- Parsing Method Choice -->
                    <label for="formFile" class="form-label">Parsing Method</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Parsing Approach 1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Parsing Approach 2
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Parsing Approach 3
                        </label>
                    </div>

                    <!-- Conditions -->
                    <label for="formFile" class="form-label">Conditions</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Track Condition 1</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Track Condition 2</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" disabled>
                        <label class="form-check-label" for="flexSwitchCheckDisabled">Track Condition 3</label>
                    </div>
                    <div class="form-check form-switch mb-4">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked
                            disabled>
                        <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Track Condition
                            4</label>
                    </div>

                    <a href="#" class="btn btn-primary float-end">Parse Report</a>
                </div>
            </div>
        </div>

        <!-- Previews-->
        <div class="col-6">
            <h4>Daily File Preview</h4>
            <object class="mb-5" data="https://www.w3.org/TR/PNG/iso_8859-1.txt" width="600" height="300">
                Not supported
            </object>
            <h4>All File Preview</h4>
            <object data="https://www.w3.org/TR/PNG/iso_8859-1.txt" width="600" height="300">
                Not supported
            </object>
        </div>
    </div>
</div>
{% endblock %}