{% extends "base.html" %}

{% block title %}Parser{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <!-- Inputs -->
        <div class="col-6">
            <div class="card test">
                <!-- Tabs -->
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Single Report</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Multiple Reports</a>
                        </li>
                    </ul>
                </div>
                <!-- Content 1 -->
                <div class="card-body">
                    <h5 class="card-title text-center">Single Report Parser</h5>

                    <!-- File Inputs -->
                    <form method="post" enctype = "multipart/form-data">
                        <div class="mb-4 mt-2">
                            <label for="formFile" class="form-label">Daily File Input</label>
                            <input class="form-control" name="formFileDaily" type="file" id="formFileDaily">
                        </div>
                        <div class="mb-4 mt-3">
                            <label for="formFile" class="form-label">All File Input</label>
                            <input class="form-control" name="formFileAll" type="file" id="formFileAll">
                        </div>

                        <button type="submit" class="btn btn-primary mt-5 float-end">Parse Report</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Previews-->
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daily File Preview</h4>
                    <textarea class="form-control bg-white text-dark" placeholder="None Selected" id="taDaily"
                        readonly></textarea>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h4 class="card-title">All File Preview</h4>
                    <textarea class="form-control bg-white text-dark custom-textarea" placeholder="None Selected"
                        id="taAll" readonly></textarea>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}