{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5 ">
        <div class="col-6">
            <h1 class="display-5">Settings</h1>
        </div>
        <div class="col-6">
            <button class="btn btn-primary float-end mt-3">Snowball Documentation</button>
        </div>
    </div>
    <div class="dropdown-divider mb-4"></div>

    <div class="row">
        
        <div class="col">
            <form method="post">
                <input type="text" name="id" placeholder="Id">
                <input type="text" name="name" placeholder="Name">
                <input type="text" name="sub_dept" placeholder="Sub Dept">
                <label for="exampleColorInput" class="form-label">Color picker</label>
                <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#563d7c" title="Choose your color">
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="col">
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>sub_dept</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                    <tr>
                        <td>{{ employee[0] }}</td>
                        <td>{{ employee[1] }}</td>
                        <td>{{ employee[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}