{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-12">
            <button class="btn btn-primary float-end">Snowball Documentation</button>
        </div>
    </div>

    <div class="row mt-4 gx-5">
        <!-- New Employee Form -->
        <div class="col-5">
            <div class="card">
                <div class="card-header">
                    <h2 class="display-6 text-center">New Employee Form</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        <!-- ID -->
                        <div class="mb-4 mt-2">
                            <label for="employeeIDInput" class="form-label">Employee ID</label>
                            <input class="form-control" name="id" type="text" placeholder="Sam" id="employeeIDInput">
                        </div>

                        <!-- Name -->
                        <div class="mb-4 mt-2">
                            <label for="employeeNameInput" class="form-label">Employee Name</label>
                            <input class="form-control" name="name" type="text" placeholder="U002SAM"
                                id="employeeNameInput">
                        </div>

                        <!-- Sub Dept -->
                        <div class="mb-4 mt-2">
                            <label for="employeeSubDeptInput" class="form-label">Employee Sub Dept</label>
                            <select class="form-select" name="sub_dept" id="employeeSubDeptInput">
                                <option selected value="S">Software</option>
                                <option value="H">Hardware</option>
                                <option value="O">Other</option>
                            </select>
                        </div>

                        <!-- Color -->
                        <div class="mb-4 mt-2">
                            <label for="employeeChartColorInput" class="form-label">Employee Chart Color</label>
                            <input type="color" class="form-control form-control-color" id="employeeChartColorInput"
                                value={{color}} name="color" title="Choose your color">
                        </div>

                        <button class="btn btn-primary float-end" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-7">
            <table class="table text-center align-middle">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Sub Dept</th>
                        <th>Color</th>
                        <th>Del</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                    <form action="{{ url_for('settings.delete_employee') }}" method="post">
                        <tr>
                            <td>{{ employee[0] }}</td>
                            <td>{{ employee[1] }}</td>
                            <td>{{ employee[2] }}</td>
                            <td>
                                <input type="color" height="100" class="form-control color-picker form-control-color"
                                    value={{employee[3]}}>
                            </td>
                            <td>
                                <!-- Ignore below error -->
                                <button type="submit" class="btn btn-outline-danger border-0" id="newEmployeeButton" onclick="return confirm('Do you want to delete {{ employee[1] }}?');">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        <input type="hidden" name="id" value="{{employee[0]}}">
                    </form>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}