{% extends "base.html" %}

{% block title %}Sheets{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <!-- Inputs -->
        <div class="col-2 border-end">
            
        </div>

        <!-- Previews-->
        <div class="col-10">
            <table class="table table-striped dataTable text-center" id="sheetTable">
                <thead>
                  <tr>
                    <th scope="col">Supp #</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Sup Code</th>
                    <th scope="col">Sub Dept</th>
                    <th scope="col">Email</th>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Last User</th>
                    <th scope="col">Original User</th>
                    <th scope="col">Last Changed</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002RHONDA</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                  <tr>
                    <td>509847</td>
                    <td>20220214</td>
                    <td>C</td>
                    <td>H</td>
                    <td>True</td>
                    <td>115</td>
                    <td>U002girl</td>
                    <td>U002SUSIE</td>
                    <td>09:37:10</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock %}