{% extends "base.html" %}

{% block title %}Visualize Data{% endblock %}

{% block content %}
<div class="container">
  <!-- Header and Buttons -->
  <div class="row mt-5">
    <!-- Title-->
    <div class="col-6">
      <h1 class="display-6">Visualize Data</h1>
    </div>
    <!-- Employee Select -->
    <div class="col-6">
      <button type="button" class="float-end btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Select
        Specific
        Employee</button>
      <ul class="dropdown-menu text-center">
        {% for employee in employees %}
        <li>
          <a class="link-primary" href="{{ url_for('visualize.visualize', employee=employee[0]) }}">{{ employee[1] }}</a>
          {% if not loop.last %}
          <div class="dropdown-divider mt-1 mb-1"></div>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="dropdown-divider mt-1"></div>
  </div>

  <!-- Software -->
  <div class="row mt-3">
    <div class="col-12">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">New Imm</th>
            <th scope="col">% of Imm</th>
            <th scope="col">New Later</th>
            <th scope="col">% of Later</th>
            <th scope="col">Total Calls</th>
            <th scope="col">% of Immed Total</th>
            <th scope="col">New Email</th>
            <th scope="col">New Calls & Emails</th>
            <th scope="col">% Support</th>
            <th scope="col">% Immed</th>
            <th scope="col">% Later</th>
            <th scope="col">% Email</th>
          </tr>
        </thead>
        <tbody>
          {% for row in software_table %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
            <td>{{ row[8] }}</td>
            <td>{{ row[9] }}</td>
            <td>{{ row[10] }}</td>
            <td>{{ row[11] }}</td>
            <td>{{ row[12] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Charts -->
  <div class="row mt-3">
    <div class="col-6">

      <!-- First Chart -->
      <div class="card mb-3">
        <div class="card-body">
          <canvas id="allTotalChart" height="200"></canvas>
        </div>
      </div>

      <!-- Second Chart (Vertically) -->
      <div class="card mb-3">
        <div class="card-body">
          <canvas id="allTotalSDChart" height="200"></canvas>
        </div>
      </div>

      <!-- Third Chart (Vertically) -->
      <div class="card mb-3">
        <div class="card-body">
          <canvas id="thirdChart" height="200"></canvas>
        </div>
      </div>

    </div>
    <div class="col-6">

      <!-- Fourth Chart (Vertically) -->
      <div class="card mb-3">
        <div class="card-body">
          <canvas id="fourthChart" height="200"></canvas>
        </div>
      </div>

      <!-- Fifth Chart (Vertically) -->
      <div class="card mb-3">
        <div class="card-body">
          <canvas id="fifthChart" height="200"></canvas>
        </div>
      </div>

      <!-- Sixth Chart (Vertically) -->
      <div class="card mb-3">
        <div class="card-body">
          <canvas id="sixthChart" height="200"></canvas>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}