.bg-1 {
  background-image: url("./src/static/images/1jpg.jpg");
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}

.nav-link:hover:not(.active)  {
  color: #0275d8 !important;
}