.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.hidden {
  opacity: 0;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}

textarea {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
  height: 300px;
}

.display-6 {
  font-size: 2rem !important;
}

.export-btn {
  position: relative;
  top: 35px;
}

.card-bg-1 {
  background-image: url("../images/Untitled.png");
}

.card-body {
  min-height: 500px;
}

.visualize-date-picker {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 82%;
}